/* style.scss
=========================================================*/
/*=======================================================*\
		MAIN STYLES
\*=======================================================*/
h1, h2, h3, h4, h5, h6 {
  color: #2f343b;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #E42F45;
}

.bg-primary {
  background: #E42F45;
}
.bg-primary .btn {
  background: #2f343b;
}
.bg-primary .btn:active {
  background: #020202;
}

.bg-secondary {
  background: #2f343b;
}

.primary {
  color: #E42F45;
}

.secondary {
  color: #2f343b;
}

.brand a {
  background-color: #2f343b;
}

.btn {
  background: #E42F45;
}
.btn:hover {
  background: #2f343b;
}
.btn:active {
  background: #020202;
}

.icon {
  color: #E42F45;
}

.icon-2 {
  background: #454d57;
}

a.icon-2:hover {
  background: #E42F45;
}

.small {
  color: rgba(47, 52, 59, 0.5);
}

footer {
  background: #2f343b;
}
footer .brand a {
  background-color: #E42F45;
}
footer .copyright a:hover {
  color: #2f343b;
}

.toTop {
  background: #454d57;
}
.toTop:hover {
  background: #E42F45;
}
